<!DOCTYPE html>{% load static %}
<html>
    <head>
        <title>Webrtc signaling for text chat</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <script src="{% static 'js/jquery.min.js' %}"></script>
        
    </head>
    <body>
    	<button id="ws-connect">Connect to websocket server</button>
        
        <form id="user_form" action="">
            <input type="text" id="user" placeholder="ex: user0">
            <button id="set_name_btn">Set my username</button>
        </form>
        <form id="connect_form" action="">
            <input type="text" id="distant_username" placeholder="ex: user1">
            <button id="connect_btn">Connect to peer user</button>
        </form>
        <!-- <form id="send_form" action="">
            <input type="text" id="message">
            <button id="send_btn">Send my message</button>
        </form> -->
		<main class="container-fluid">
			<div class="row">
				<section class="col-md-8">
					<!-- <h1>Realtime communication with WebRTC</h1> -->
					<!-- <video id="localVideo" autoplay muted playsinline></video>
					<video id="remoteVideo" autoplay playsinline></video> -->
					<video id="local_video" autoplay muted playsinline></video>
					<video id="received_video" autoplay playsinline></video>
					<!-- <div> -->
						<!-- <button class="btn btn-primary btn-sm" id="startButton">Start</button> -->
						<!-- <button class="btn btn-success btn-sm" id="callButton">Call</button> -->
                        <!-- <button class="btn btn-danger btn-sm" id="hangupButton">Hang Up</button> -->
						<!-- </div> -->
						<button id="hangup-button" onclick="hangUpCall();" disabled>
				</section>
			</div>
		</main>
    </body>
    <script src="{% static 'js/main00.js' %}"></script>
</html>