<!DOCTYPE html>{% load static %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />

		<title>WebRtc with Django</title>
	</head>
	<body>
		<header></header>

		<main class="container-fluid">
			<div class="row">
				<section class="col-md-8">
					<h1>Realtime communication with WebRTC</h1>
					<video id="localVideo" autoplay playsinline></video>
					<video id="remoteVideo" autoplay playsinline></video>

					<div>
						<button class="btn btn-primary btn-sm" id="startButton">Start</button>
						<button class="btn btn-success btn-sm" id="callButton">Call</button>
						<button class="btn btn-danger btn-sm" id="hangupButton">Hang Up</button>
					</div>
				</section>
				<section class="col-md-4 chat">
					<ul id="chat-log">
						{% for cht in chat %}
							<li><span></span> {{cht.message}}</li>
						<!-- <li><span>{{cht.user}}</span> {{cht.message}}</li> -->
						{% endfor %}
					</ul>
					<!-- <textarea cols="55" rows="20"></textarea><br/> -->
					<input id="chat-message-input" type="text" size="56"/>
					<input id="chat-message-submit" type="button" value="Send"/>
				</section>
			</div>
		</main>
		
		<footer></footer>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/chat.js' %}"></script>
	</body>
</html>